<!-- 1페이지 -->
<section class="sm:h-[500px]">
	<div class="absolute w-full overflow-hidden" style="height:inherit;">
		<img class="opacity-30 w-full" src="/static/img/index/girl2.png">
	</div>
	<h2 class="pt-8 mb-6 w-fit text-teal-200 text-2xl text-center mx-auto sm:text-5xl">홍대역 프리미엄 가라오케</h2>
	<div class="m-6 border-4 border-green-200 p-4 text-center">
		<h2 class="text-3xl font-extrabold mb-6 sm:text-5xl">최고의 초이스!</h2>
		<p class="break-keep sm:text-3xl">고객분들께서 100% 만족하실 수 있도록 아가씨 관리를 하고 있습니다!</p>
		<p class="break-keep sm:text-3xl">꾸준한 마인드 교육과 지속적인 아가씨들의 사이즈 관리를 하고 있습니다.</p>

		<div class="mt-6">
			<p class="font-extrabold text-teal-300 sm:text-3xl">최고의 아가씨들로만 구성되어 있습니다.</p>
			<h2 class="font-extrabold text-green-300 text-3xl sm:text-5xl">수질 마인드 서비스</h2>
		</div>
	</div>
</section>

<section class="z-10" style="margin-top:80px;">
	<div class="text-black bg-gradient-to-b from-black to-teal-200 p-3 text-center text-5xl font-bold mb-6 sm:text-6xl">
		<p>{{.Site.Store.Tel}}</p>
		<p>{{.Site.Store.Tel}}</p>
		<p>{{.Site.Store.Tel}}</p>
	</div>
</section>

<section class="p-6 mx-auto max-w-5xl sm:text-xl">
	<h2 class="mb-6 w-fit text-teal-200 text-2xl text-center mx-auto sm:text-5xl break-keep">하이퍼블릭 탄생배경</h2>

	<div>
		<p class="break-keep">
			코로나가 우리 사회의 면면들을 바꾸어 놓기 이전 강남권의 대세는 셔츠룸이었습니다. 그러나 거리두기가 해제된 이후 부터는 쉬운 진입장벽으로 인한 언니들의 사이즈 문제가 대두되기 시작했고 인기가 좋았던 셔츠룸이 그저 그런 쌈마이 업소로 전락하자 이런 이미지를 타파하고 매니저들의 사이즈를 높이기 위하여 하이퍼블릭이란 업종이 생겨나기 시작했습니다.
		</p>
	</div>
</section>

<section>
	<div class="mb-3 mx-auto w-fit">
		<img  src="/static/img/index/girl3.png">
	</div>
</section>

<section class="p-6 mx-auto max-w-5xl sm:text-xl">
	<h2 class="mb-6 w-fit text-teal-200 text-2xl text-center mx-auto sm:text-5xl break-keep">일반퍼블릭바와 하이퍼블릭 차이</h2>

	<div>
		<p class="break-keep">
			기존 퍼블릭보다는 주대가 살짝 비싸지만, 기존 퍼블릭에서 느낄수 없었던 사이즈와 마인드를 느끼실수 있으며 기존 퍼블릭보다 터치나 스킨십이 많이 자유롭습니다
		</p>
		<br>
		<p class="break-keep">
			예를 들어, 기존퍼블릭바가 이코노미 비행기 좌석이라면 하이퍼블릭바는 비지니스석이라고 보시면 됩니다.
		</p>
	</div>
</section>

<section>
	<div class="mb-3 mx-auto w-fit">
		<img  src="/static/img/index/girl4.png">
	</div>
</section>

<section class="p-6 mx-auto max-w-5xl sm:text-xl">
	<h2 class="mb-6 w-fit text-teal-200 text-2xl text-center mx-auto sm:text-5xl break-keep">퍼블릭바란</h2>

	<div>
		<p class="break-keep">
			퍼블릭 바란 대중적인 가라오케를 일컫는 용어로, 쩜오, 텐카페보다 저렴한 주대로 로테이션 방식이 아닌 지정 아가씨를 초이스 하셔서 착석하는 방식으로 진행되고 있습니다.
		</p>
		<br>
		<p class="break-keep">
			단, 초이스 후에 소위 인사시스템은 없으며, 분위기 있는 술자리를 하는 곳이라고 생각하시면 됩니다.
		</p>
	</div>
</section>

<!-- 2페이지 -->
<section class="">
	<h2 class="mb-6 w-fit text-teal-200 text-2xl text-center mx-auto sm:text-5xl">홍대역 프리미엄 가라오케</h2>

	<div class="mb-3 mx-auto w-fit">
		<img class="" src="/static/img/index/girl5.png">
	</div>
</section>

<!-- 맵 정보 -->
<section class="pb-8">
	<div class="w-full mx-auto">
		<iframe class="w-full h-80 mx-auto mt-3 lg:mt-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6325.965834023451!2d126.9283438456082!3d37.555466262635946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9895bea3fd83%3A0x6ac3e5ae92cba9b0!2z7Iug7LSM!5e0!3m2!1sko!2skr!4v1716442647445!5m2!1sko!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>

	<div>
		<h2 class="pt-8 w-fit text-teal-200 text-5xl text-center mx-auto font-extrabold">LOCATION</h2>
		<div class="text-center text-2xl">
			<p>신촌역 7번출구 바로 앞</p>
			<p>(자세한 위치는 전화문의!!)</p>
		</div>
	</div>

	<div>
		<h2 class="pt-8 w-fit text-teal-200 text-3xl text-center mx-auto font-extrabold">BUSINESS HOURS</h2>
		<div class="text-center text-2xl">
			<p>7:00PM ~</p>
		</div>
	</div>
</section>

<!-- 서비스 정보 -->
<section class="" style="height:850px;">
	<div class="absolute w-full overflow-hidden" style="height:inherit;">
		<img class="opacity-30 w-full" src="/static/img/index/girl2.png">
	</div>
	<div class="w-80 mx-auto pt-8">
		<img src="/static/img/index/logo.png">
	</div>

	<div>
		<h2 class="pt-8 w-fit text-2xl text-center mx-auto font-extrabold sm:text-3xl">봉구실장을 찾아주신다면?</h2>
		<div class="text-center p-6 text-xl sm:text-2xl">
			<p>손님 분이 만족하실 때까지</p>
			<p>최상의 서비스를 제공하겠습니다.</p>
		</div>
	</div>

	<div class="text-teal-300 mx-auto w-fit sm:text-xl">
		<div class="flex px-3">
			<img class="w-8 h-8" src="/static/img/favicon/check.png">
			<p class="break-keep">처음 혼자 가려는데 뻘쭘하지 않도록 친절한 언니랑 놀고 싶은날</p>
		</div>
		<div class="flex px-3">
			<img class="w-8 h-8" src="/static/img/favicon/check.png">
			<p class="break-keep">비지니스&단체회식&모임 등 특별한 자리</p>
		</div>
		<div class="flex px-3">
			<img class="w-8 h-8" src="/static/img/favicon/check.png">
			<p class="break-keep">풋풋한 일반인 여친 같은 언니를 만나고 싶은날</p>
		</div>
		<div class="flex px-3">
			<img class="w-8 h-8" src="/static/img/favicon/check.png">
			<p class="break-keep">거짓 광고, 불친절 없는 곳에서 놀고 싶은날</p>
		</div>
	</div>
</section>

<section>
	<div class="p-3 text-teal-200 text-center text-5xl font-bold mb-6 sm:text-6xl">
		<p>{{.Site.Store.Tel}}</p>
	</div>
</section>

<!-- 설명 -->
<section>
	<!-- <img src="/static/img/index/logo.png"> -->
	<!-- 셔츠룸이란 -->
	<div class="w-fit sm:mx-auto">
		<h2 class="mb-2 bg-gray-200 text-black w-fit font-extrabold text-2xl p-3 rounded-r-3xl sm:text-3xl sm:rounded-l-3xl">셔츠룸이란?<img class="w-10 inline-block" src="/static/img/favicon/sms.png"></h2>
		<div>
			<p class="border-l-0 border-4 border-green-200 w-80 p-3 text-xl break-keep rounded-r-3xl sm:text-2xl sm:w-96 sm:border-l-4 sm:rounded-l-3xl">일반적인 퍼블릭 업소에 비해 높은 수질과 마인드, 터치, 저렴한 주대까지 결합된 업소이며 인사라는 진한 시스템이 있습니다.</p>
		</div>
	</div>
	<div class="w-fit mx-auto m-6">
		<img class="w-40 sm:w-80" src="/static/img/index/girl6.png">
	</div>
	<div class="inline-block w-fit sm:mx-auto sm:block">
		<h2 class="float-right mb-2 bg-gray-200 text-black w-fit font-extrabold text-2xl p-3 rounded-l-3xl sm:rounded-r-3xl sm:text-3xl sm:float-none">인사시스템이란?<img class="w-10 inline-block" src="/static/img/favicon/sms.png"></h2>
		<div class="float-right sm:float-none">
			<p class="border-r-0 border-4 border-green-200 w-80 p-3 text-xl break-keep rounded-l-3xl sm:rounded-r-3xl sm:text-2xl sm:border-r-4">언니가 형님의 무릎위에 올라가 홀복과 브라를 벗고 흰색셔츠로 갈아입으며 서로 마주보고 스킨쉽을 갖는 시스템을 인사라고 합니다.</p>
		</div>
	</div>
	<div class="w-fit mx-auto mt-3">
		<img class="w-80" src="/static/img/index/logo.png">
	</div>
	<div class="w-fit sm:mx-auto sm:mt-10">
		<h2 class="mb-2 bg-gray-200 text-black w-fit font-extrabold text-2xl p-3 rounded-r-3xl sm:text-3xl sm:rounded-l-3xl">언니들은 어떤가요?<img class="w-10 inline-block" src="/static/img/favicon/sms.png"></h2>
		<div>
			<p class="border-l-0 border-4 border-green-200 w-80 p-3 text-xl break-keep rounded-r-3xl sm:text-2xl sm:w-96 sm:border-l-4 sm:rounded-l-3xl">사이즈는 하드&풀과 비교가 안되며 귀여운 언니, 섹시한 언니, 재미있는 언니, 리드하는 언니 등등 손님분이 마음에 드는 언니를 찾을 때까지 초이스 가능합니다.</p>
		</div>
	</div>
	<div class="w-fit mx-auto m-6">
		<img class="w-40 sm:w-80" src="/static/img/index/girl7.png">
	</div>
	<div class="w-fit sm:mx-auto">
		<h2 class="mb-2 bg-gray-200 text-black w-fit font-extrabold text-2xl p-3 rounded-r-3xl sm:text-3xl sm:rounded-l-3xl">터치, 어디까지 가능한가요?<img class="w-10 inline-block" src="/static/img/favicon/sms.png"></h2>
		<div>
			<p class="border-l-0 border-4 border-green-200 w-80 p-3 text-xl break-keep rounded-r-3xl sm:text-2xl sm:w-96 sm:border-l-4 sm:rounded-l-3xl">가라오케/퍼블릭과 비교할 수 없을 정도, 이상의 터치까지 가능합니다.</p>
		</div>
	</div>
</section>

<section>
	<div class="p-3 text-teal-200 text-center text-5xl font-bold mb-6 sm:text-6xl">
		<p>{{.Site.Store.Tel}}</p>
	</div>
</section>