<!DOCTYPE html>
<html lang="ko">
<head>
	{{template "components/head/browser"}}
	{{template "components/head/seo" .}}
	{{template "components/head/styles"}}
	{{template "components/head/scripts"}}
</head>
<body class="antialiased bg-black text-white">
	<header class="relative">
		<div class="p-3 text-center text-5xl font-bold mb-6 sm:text-6xl">
			<p>{{.Site.Store.Tel}}</p>
		</div>
		<div class="mb-3">
			<p class="bg-gray-200 text-black ml-16 w-fit p-2 font-extrabold sm:text-3xl">
				홍대역 인근 프리미엄 가라오케
			</p>
		</div>
		<div class="mb-3">
			<p class="bg-green-200 text-black w-fit p-2 font-extrabold sm:text-3xl">
				한 번 방문하시면 분명 찾게 되는 그 곳!
			</p>
		</div>
		<div class="mt-10 mb-10">
			<img class="w-full absolute opacity-30" src="/static/img/index/girl1.png">
			<img class="w-full" src="/static/img/index/logo.png">
		</div>
		<div class="p-3 text-teal-200 text-center text-5xl font-bold mb-6 sm:text-6xl">
			<p>{{.Site.Store.Tel}}</p>
		</div>
	</header>
	
	<main class="space-y-10 lg:space-y-0">
		{{embed}}
	</main>
	{{template "components/footer/global" .}}
</body>
</html>
